<div class="container">
    <div class="col-md-8 col-md-offset-2 col-sm-10">
        <h3>以下の内容で送信する。</h3>
        <%= form_for(@contact) do |f| %>
            <%= f.hidden_field :name %>
            <%= f.hidden_field :email %>
            <%= f.hidden_field :content %>
    
            <p>お名前：<%= @contact.name %></p>
            <p>メールアドレス：<%= @contact.email %></p>
            <p>お問い合わせ内容：<%= @contact.content %></p>
            <%= f.submit "問い合わせる", class: 'btn btn-primary btn-block' %>
        <% end %>

        <%= form_for(@contact, url: new_contact_path, method: 'get') do |f| %>
            <%= f.hidden_field :name %>
            <%= f.hidden_field :email %>
            <%= f.hidden_field :content %>
            <%= f.submit "戻る", name: 'back', class: 'btn btn-default btn-block' %>
        <% end %>
    </div>
</div>